# Archivos compilados y temporales
target/
*.class

# Archivos de configuración de IntelliJ (son personales de tu PC)
.idea/
*.iml
.mvn/

# Archivos del sistema
.DS_Store
Thumbs.db

# Base de datos local (Opcional: Si quieres que se suba con datos, borra esta línea)
# Pero lo profesional es NO subir binarios que cambian constantemente.
*.db
# Project exclude paths
/out/